<!DOCTYPE html>
<html>
  <head>
    <title>Gittiez</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper container">
        <div class="col s12">
          <a href="/" class="brand-logo">Gittiez</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% unless user_signed_in? %>
            <li><a href="/users/sign_in">Login</a></li>
            <li><a href="/users/sign_up">Register</a></li>
            <% else %>
            <li><a href="/users/edit"><%= current_user.email %></a></li>
            <li><a href="#">Logout</a></li>
            <% end %>

          </ul>
        </div>
      </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
