<!DOCTYPE html>
<html>
  <head>
    <title>Gittiez</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper container">
        <div class="col s12">
          <a href="/" class="brand-logo">Gittiez</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% unless user_signed_in? %>
            <li><%= link_to "Login", new_user_session_path %></li>
            <li><%= link_to "Register", new_user_registration_path %></li>
            <% else %>
            <li><a href="/edit"><%= current_user.email %></a></li>
            <li>
              <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            </li>
            <% end %>

          </ul>
        </div>
      </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <!-- <pre>
      <%= params %>
    </pre> -->
  </body>
</html>
